<CardView class="cardStyle" margin="2%" elevation="40" radius="1">
  <FlexboxLayout flexDirection="row">
    <Image width="35%" src="~/images/harrastukset.jpg" class="img"></Image>
    <StackLayout flexGrow="1">
      <FlexboxLayout justifyContent="space-between">
        <label class="nimi" text="Matti ja Teppo keikka" color="white"></label>
        <label class="x_ikoni" text="X" horizontalAlignment="right"></label>
      </FlexboxLayout>
      <FlexboxLayout>
        <Image
          src="font://&#xf133;"
          class="fas"
          width="10"
          color="white"
        ></Image>
        <label class="paivamaara" text="20.9.2023"></label>
      </FlexboxLayout>

      <FlexboxLayout>
        <Image
          src="font://&#xf041;"
          class="fas"
          width="10"
          color="white"
        ></Image>
        <label
          class="henry"
          horizontalAlignment="left"
          text="Henry's pub"
        ></label>
      </FlexboxLayout>
      <FlexboxLayout justifyContent="space-between">
        <FlexboxLayout flexDirection="row" justifyContent="space-between">
          <Image
            src="font://&#xf153;"
            class="fas"
            width="10"
            color="white"
          ></Image>
          <label
            class="tickets"
            horizontalAlignment="left"
            text="www.ticketets.com"
          ></label>
        </FlexboxLayout>
        <Image
          src="font://&#xf004;"
          id="sydan"
          class="fas"
          width="10"
          color="white"
          horizontalAlignment="right"
        ></Image>
      </FlexboxLayout>
    </StackLayout>
  </FlexboxLayout>
</CardView>
