<!-- CardView komponentti notifications-komponentin tapahtumien näyttämiseen. Tälle komponentille välitetään
tietoja notifications-komponentille haetuista tiedoista. -->

<CardView
  [nsRouterLink]="['/event/', eventData._id]"
  class="cardStyle"
  margin="20"
  elevation="60"
  radius="10"
  width="90%"
  height="40%"
>
  <FlexboxLayout>
    <StackLayout class="image">
      <Image class="img" [src]="eventData.kuvaUrl"></Image
    ></StackLayout>
    <StackLayout class="content" flexGrow="1">
      <FlexboxLayout justifyContent="space-between">
        <label class="nimi" [text]="eventData.nimi" color="white"></label>
        <label class="x_ikoni" text="X" horizontalAlignment="right"></label>
      </FlexboxLayout>
      <FlexboxLayout>
        <Image
          src="~/icons/kalenteriVarillinen.png"
          class="fas"
          width="10"
          color="white"
        ></Image>
        <label class="paivamaara" [text]="eventData.aloituspvm"></label>
      </FlexboxLayout>

      <FlexboxLayout>
        <Image
          src="~/icons/markerVarillinen.png"
          class="fas"
          width="12"
          color="white"
        ></Image>
        <label
          class="henry"
          horizontalAlignment="left"
          [text]="
            eventData.sijainti[0].paikkakunta +
            ' ' +
            '(' +
            this.locationService
              .getDistance(
                this.eventData.sijainti[0].long,
                this.eventData.sijainti[0].lat,
                this.locationService.latitude,

                this.locationService.longitude
              )
              .toFixed(1) +
            'km)'
          "
        ></label>
      </FlexboxLayout>
      <FlexboxLayout justifyContent="space-between">
        <FlexboxLayout flexDirection="row" justifyContent="space-between">
          <Image
            src="~/icons/lippuVarillinen.png"
            class="fas"
            width="10"
            color="white"
          ></Image>
          <label
            class="tickets"
            horizontalAlignment="left"
            [text]="eventData.lipunHinta"
          ></label>
        </FlexboxLayout>
        <Image
          src="font://&#xf004;"
          id="sydan"
          class="fas"
          width="15"
          color="white"
          horizontalAlignment="right"
        ></Image>
      </FlexboxLayout>
    </StackLayout>
  </FlexboxLayout>
</CardView>
