<CardView class="cardStyle" margin="10" elevation="40" radius="1">
  <StackLayout>
    <Image
      width="100%"
      height="30%"
      stretch="aspectFill"
      src="~/images/harrastukset.jpg"
      class="img"
    ></Image>
    <label
      class="createdBy text-left"
      horizontalAlignment="left"
      text="Tähän kuva"
      row="1"
      col="2"
      textWrap="true"
    ></label>
    <label
      class="createdOn text-left"
      horizontalAlignment="left"
      text="Carry on"
      row="2"
      col="2"
    ></label>
    <image
      src="../../images/harrastukset.jpg"
      stretch="aspectFit"
      colSpan="3"
      col="1"
      row="3"
    ></image>
    <label
      horizontalAlignment="left"
      text="item.Title"
      colSpan="3"
      row="4"
      textWrap="true"
      col="1"
    ></label>
    <label
      horizontalAlignment="left"
      text="item.Summary"
      textWrap="true"
      col="1"
      row="5"
      colSpan="3"
    ></label>
  </StackLayout>
</CardView>
