<!-- Mapbox-kartta.  -->

<ContentView height="100%" width="100%">
  <Mapbox
    accessToken="pk.eyJ1IjoibWlra28xOTg1IiwiYSI6ImNsbmlyazhqczA2N20yeHFvbGpxaHozOW4ifQ.GdqmP1CH2_dAOa40He98-Q"
    mapStyle="traffic_day"
    [latitude]="this.locationService.latitude"
    [longitude]="this.locationService.longitude"
    delay="1000"
    hideCompass="true"
    zoomLevel="18"
    showUserLocation="false"
    disableZoom="false"
    disableRotation="false"
    disableScroll="false"
    disableTilt="false"
    trackUser="true"
    (mapReady)="onMapReady($event)"
  >
  </Mapbox>
</ContentView>
