<StackLayout class="body">
  <Label class="header" text="Settings"></Label>
  <StackLayout marginTop="10%">
    <FlexboxLayout>
      <Button class="iconbutton" (tap)="signOut()"></Button>
      <Label class="text" text="Profile information"></Label>
    </FlexboxLayout>
    <FlexboxLayout marginTop="3%">
      <Button class="iconbuttondistance"></Button>
      <Label class="text" text="Distance determination"></Label>
    </FlexboxLayout>
    <FlexboxLayout marginTop="3%" (tap)="navigateToPrivacy()">
      <Button class="iconbuttonpolicy"></Button>
      <Label class="text" text="Terms of Use and privacy policy"></Label>
    </FlexboxLayout>
    <FlexboxLayout marginTop="3%">
      <Button class="iconbuttondelete"></Button>
      <Label class="text" text="Delete account"></Label>
    </FlexboxLayout>
    <FlexboxLayout marginTop="3%">
      <Button class="iconbuttonsignout"></Button>
      <Label class="text" text="Sign out"></Label>
    </FlexboxLayout>
  </StackLayout>
</StackLayout>
